body{
    background-color: #0077B6;
    color: #03045E;
}
footer {
    height: 30px;
    background-color: #03045E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #0077B6;
}
.navbar {
    background-color: #03045E;
}
.navbar-brand, .nav-link {
    color: #90E0EF;
}
.navbar-brand:hover, .nav-link:hover {
    color: #FFFFFF;
}
.navbar-toggler {
    background-color: #FFFFFF;
}
.btn {
    background-color: #FFFFFF;
    color: #03045E;
}
.btn:hover {
    background-color: #0077B6;
    color: #FFFFFF;
}
.form-field {
    background-color: #90E0EF;
    padding: 20px;
    border-radius: 7px;
}
