body{
    background-color: #0077B6;
    color: #03045E;
    font-family: 'Comfortaa', sans-serif;
}
footer {
    height: 30px;
    background-color: #03045E;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #90E0EF;
}
.navbar {
    background-color: #03045E;
    min-height: 80px;
    padding: 5px;
}
.navbar-brand, .nav-link {
    color: #90E0EF;
}
.navbar-brand {
    font-size: 30px;
}
.navbar-brand:hover, .nav-link:hover, .navbar-brand:focus, .nav-link:focus {
    color: #FFFFFF;
}
.navbar-toggler {
    background-color: #FFFFFF;
}
.btn {
    background-color: #FFFFFF;
    color: #03045E;
}
.btn:hover, .btn:focus {
    background-color: #0077B6;
    color: #FFFFFF;
}
.content-background {
    background-color: #90E0EF;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 7px;
}
.email-input {
    padding-bottom: 7px;
}
@media only screen and (min-width: 786px) {
    .notifications {
        display: flex;
    }
    .email-input {
        width: 75%;
        padding-bottom: 0px;
        margin-right: 10px;
    }
}